.card {
    padding: 10px;
    flex-wrap: wrap;
}

.card img {
  
    max-width: 100%;
    margin: 10px;
    height: auto;
    margin-bottom: auto;
    transition: 0.3s ease-in-out;
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.product-card {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* .product-card img {
    max-width: 100%;
    height: auto;
  } */


  .quantity-group {
    margin-top: 20px;
  }
  
  .quantity-group button {
    padding: 10px;
  }
  
  .quantity-group input {
    width: 50px;
    padding: 10px;
  }
